.tutorial-panel a {
  color: blue;
  text-decoration-line: underline;
  font-size: 1.3em;
}

/* Style the list elements */
.tutorial-panel ul {
  list-style-type: disc;
  margin-left: 2vw;
}

/* Style the panel of the tutorial */
.tutorial-panel {
  position: absolute;
  left: 25%;

  display: flex;
  align-items: flex-end;
  width: 46%;
  height: 78%;

  background-color: #edf2fb;
  z-index: 100;

  border-radius: 5%;
  border: 0.2em solid #e0e1dd;

  padding: 2% 2%;

  font-size: 0.9em;
  overflow: hidden;
  transition: opacity 200ms ease-in;
}

/* Style the hide state */
.hide {
  opacity: 0;
  pointer-events: none;
}

/* Style the pages of the tutorial */
.page {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 92%;
}

.page-interieur {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
  font-size: 0.9em;
  text-align: justify;
}

.text {
  width: 100%;
}

/* Style the title */
.big-title {
  position: absolute;
  top: 0;
  text-align: center;
}

/* Style the emojis */
.emoji-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tutorial-emoji {
  font-size: clamp(32px, calc(5vh + 5vw), 128px);
}

/* Style the how to dismiss span */
.how-to-dismiss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the button */
.button {
  border: 0px solid white;
  border-radius: 1em;
  background-color: #484a4d;
  color: white;

  height: 2em;
  width: 6em;
  font-size: 1.2em;

  cursor: pointer;
}

.button:hover {
  background-color: #adb5bd;
  transition: background-color 200ms ease-in;
}

.button:active,
.button:focus {
  outline: none;
}

.button-next {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
}

.button-prev {
  position: absolute;
  bottom: 2vh;
  left: 2vh;
}

/* Style the dismiss button */
.dismiss-button {
  position: absolute;
  bottom: 2vh;
  opacity: 0.5;
}

/* Style the images of wall and mud */
.img {
  border-radius: 0.2em;
  border: 0.1em solid #e0e1dd;
  height: 10vh;
  width: auto;
  align-self: center;
}

/* Style the gif */

.gif {
  border-radius: 0.2em;
  border: 0.1em solid #e0e1dd;
}

.gif-multiple-targets {
  height: 7vh;
}

.gif-choose-algorithm {
  height: 25vh;
}

.gif-maze-options {
  height: 40vh;
}

.gif-drag-and-drop {
  max-width: 100%;
}

.gif-have-fun {
  max-width: 100%;
}

/* Style the transition between the pages */

.page-container-enter {
  opacity: 0;
}
.page-container-enter-active {
  opacity: 1;
  transition: all 200ms 300ms ease;
}
.page-container-exit {
  opacity: 1;
}
.page-container-exit-active {
  opacity: 0;
  transition: all 200ms ease;
}

/* .page-container-exit-active {
  visibility: hidden;
  opacity: 0;
  transition: all 250ms 250ms ease-in;
} */
