/* normal grid node style */
.grid-node {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 0;
  height: auto;
  border: 1px solid black;
  transition: border 400ms ease-out;
  background-color: #ecf8f8;
  transition: background-color ease-in 400ms;
}

.grid-node:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  opacity: 0;
}

/* Style les emojis */
.content {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  /* line-height: 40px; */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* handle the walls */
.no-wall-left {
  border-left: 1px solid rgb(96, 122, 133, 0.1);
}

.no-wall-right {
  border-right: 1px solid rgb(96, 122, 133, 0.1);
}

.no-wall-top {
  border-top: 1px solid rgb(96, 122, 133, 0.1);
}

.no-wall-bottom {
  border-bottom: 1px solid rgb(96, 122, 133, 0.1);
}

/* visited nodes styles */
.visited-node {
  background-color: #0077b6;
  transition: background-color 1500ms ease-out;
}

/* shortest path nodes */
.shortest-path-node {
  background-color: #48cae4;
  transition: background-color 1500ms ease-in;
}

/* Node with a cheese */
.cheese {
  background-color: yellow;
}
