/* normal grid node style */
.grid-node {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 0;
  height: auto;
  font-size: clamp(6px, 1vw, 32px);

  border: 1px solid black;

  transition: border-color 1000ms ease-out, background-color ease-out 1000ms;
  background-color: #ecf8f8;
}

@media only screen and (min-width: 992px) {
  .grid-node {
    border: 1.5px solid black;
  }
}

.grid-node:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  opacity: 0;
}

/* Style the Chevron of the shortest path */
.grid-node svg {
  width: 50%;
  opacity: 0.08;
  animation: chevronAnim 500ms ease;
}

.svg-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.U {
  transform: rotate(-90deg);
}

.L {
  transform: rotate(180deg);
}

.D {
  transform: rotate(90deg);
}

@keyframes chevronAnim {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  80% {
    opacity: 0.3;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.08;
    transform: scale(1);
  }
}

/* Style the emojis */
.content {
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: squareChangeAnim 500ms ease;
}

@keyframes squareChangeAnim {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* handle the walls */
.no-wall-left {
  border-left-color: rgb(96, 122, 133, 0.05);
}

.no-wall-right {
  border-right-color: rgb(96, 122, 133, 0.05);
}

.no-wall-top {
  border-top-color: rgb(96, 122, 133, 0.05);
}

.no-wall-bottom {
  border-bottom-color: rgb(96, 122, 133, 0.05);
}

.mud-left {
  border-left-color: rgb(195, 142, 112, 0.4);
}

.mud-right {
  border-right-color: rgb(195, 142, 112, 0.4);
}

.mud-top {
  border-top-color: rgb(195, 142, 112, 0.4);
}

.mud-bottom {
  border-bottom-color: rgb(195, 142, 112, 0.4);
}

/* visited nodes styles */
.visited-node {
  background-color: #0077b6;
  /* transition: background-color 1250ms ease-out; */
  animation: visitedAnim 1000ms ease-in;
}

@keyframes visitedAnim {
  0% {
    background-color: #ecf8f8;
  }

  30% {
    background-color: #0096c7;
  }

  100% {
    background-color: #0077b6;
  }
}

/* shortest path nodes */
.shortest-path-node {
  background-color: #48cae4;
  transition: background-color 500ms ease-in;
}
