/* NavBar */
.navbar {
  height: 10vh;
  background-color: var(--bg);
  border-bottom: var(--border);
}

.navbar-nav {
  position: relative;

  max-width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  color: white;

  flex-basis: 7.5%;
  height: 7vh;

  background-color: #484a4d;
  padding: 0 0.5vw;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1%;

  transition: background-color 200ms ease;
}

.nav-item:hover {
  background-color: #adb5bd;
}

/* Informations button */
.show-tutorial {
  padding: 0;
  height: 5vh;
  flex-basis: 5vh;
  border-radius: 50%;
  font-size: 1em;
}

/* DropDown Menu */
.dropdown {
  position: absolute;
  top: 9.5vh;
  width: 20vw;
  transform: translateX(-35%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 10;
  transition: height 500ms ease;
}

.left {
  transform: translateX(35%);
}

.menu {
  width: 100%;
}

.menu-item {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  cursor: default;
}

.menu-item:hover {
  background: #525357;
}

.tickmark,
.arrow-right,
.arrow-left {
  font-size: clamp(7.5px, calc(1.05vw + 1.05vh), 48px);
}

/* Nav Slider */

.nav-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-left: auto;
  flex-basis: 10%;
  transition: opacity 500ms ease-out, background-color 200ms ease-in;
}

.nav-slider-item-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.show-nav-slider {
  opacity: 1;
}

/* Slider items */
.slider-item {
  height: 7.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.slider-item:hover {
  background: #525357;
}

.slider {
  width: 100%;
}

.slider-item-text {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-value {
  position: absolute;
  left: 150%;
}

/* Style the visualize button */

.visualize-button {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 0.25vw));
  -webkit-transform: translateX(calc(-50% - 0.25vw));
  width: 15%;
  background-color: #0096c7;
  transition: background-color 400ms ease-out, filter 200ms ease-in;
}

.visualize-button:hover {
  filter: brightness(115%);
  background-color: #0096c7;
}

/* Greyed out the button */
.greyed-out {
  opacity: 0.3;
  transition: all 400ms ease-out;
  cursor: default;
  pointer-events: none;
}

/* to hide the nav slider */
.hide-nav-slider {
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

/* Highlights the buttons */
.highlight {
  background-color: #f48c06;
  transition: all 200ms ease-out;
}

.highlight:hover {
  background-color: #f48c06;
  filter: brightness(125%);
}

/* Enable multiple targets */
.enable-multiple-targets {
  background-color: #6c757d;
  transition: opacity 400ms ease-out, background-color 200ms ease-in;
}

.disable-multiple-targets {
  background-color: #484a4d;
  transition: opacity 400ms ease-out;
}

.should-generate {
  background-color: #6c757d;
  transition: all 400ms ease-out;
}

/* Icon button */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Animates the dropdown menu */

.menu-primary-enter {
  position: absolute;
  transform: translateX(-200%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-200%);
  transition: all 500ms ease;
}

.menu-unweighted-enter {
  position: absolute;
  transform: translateX(200%);
}

.menu-unweighted-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-unweighted-exit {
  position: absolute;
}

.menu-unweighted-exit-active {
  transform: translateX(200%);
  transition: all 500ms ease-out;
}

.menu-weighted-enter {
  position: absolute;
  transform: translateX(200%);
}

.menu-weighted-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-weighted-exit {
  position: absolute;
}

.menu-weighted-exit-active {
  transform: translateX(250%);
  transition: all 500ms ease-out;
}

/* The switch */
.switch-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: clamp(16px, 5vh, 64px);
  height: clamp(8px, 2.5vh, 32px);
  z-index: 2;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: clamp(8px, 2.5vh, 32px);
  width: clamp(8px, 2.5vh, 32px);
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #2196f3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(2.7vh);
  -ms-transform: translateX(2.7vh);
  transform: translateX(2.7vh);
}

/* Rounded switch-sliders */
.switch-slider.round {
  border-radius: clamp(8px, 2.5vh, 32px);
}

.switch-slider.round:before {
  border-radius: clamp(8px, 2.5vh, 32px);
}

/* Style the distance  */
.distance {
  position: absolute;
  left: 33%;

  width: 7vw;
  height: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: solid 0.1em #484a4d;
  border-radius: 10px;
  padding: 0 0.5vw;

  pointer-events: none;
  transition: opacity 400ms ease-out;
}

.show-distance {
  opacity: 1;
}

.hide-distance {
  opacity: 0;
}
